%% -*- mode: erlang -*-

%% Dependencies
{deps_dir , "deps"}.
{lib_dirs , []}.

%% Erlang compiler options
{erl_opts, [ debug_info
           ]}.

%% Tests and checks
{cover_enabled       , true}.
{cover_print_enabled , true}.
{xref_warnings       , false}.
{xref_checks         , [undefined_function_calls]}.
{xref_queries        , [{"XC || DF",[]}]}. % Deprecated function calls
